<div class="row">
 <ul class="media-list">
  <% posts.each do |post| %>
    <li class="media post-media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(post.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <div>
            <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">posted at <%= post.created_at %></span>
          </div>   

        </div>
        
        <div>
          <div class="row">
            <div class="col-lg-3 col-lg-offset-0 col-xs-10 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-3 col-md-offset-0">
              <div class="icon text-center">
                
                
                
                <img src="<%= post.image_url %>" alt="" class="post-image-disp">
              </div>    
            </div>

            <div class="col-lg-6 col-lg-offset-3 col-xs-10 col-sm-10 col-md-6 col-md-offset-3">
              
        	    <p><h3><%= link_to(post.title, post) %></h3> おススメ度 <%=post.recommend %></p>
        	    
        	    <div class="row">
        	      <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-3">
        	        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo-<%=post.id%>">Read review</button>
        	      </div>
              </div>
                  <div id="demo-<%=post.id%>" class="collapse">
                    <%= post.comment %>

        	    </div>
            </div>
          </div>
          
          
          
        </div>
        
        <p></p>
        <div class="row">
          <div  class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-xs-offset-3">
            <div >
              <%= render 'likes/favorite_button', post: post %>
              
            </div>
          </div> 
          
          <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-2 col-xs-offset-1">
            <p>いいね <%=counts_likes(post) %> 件,   コメント <%=counts_comments(post) %> 件</p>
          </div>
        
        
            <div class="col-lg-offset-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-xs-offset-3">
              <% if current_user ==post.user %>
                <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
              <% end %>
            </div>             
          
         
        </div>

        
      </div>

    </li>
    
  <% end %>
  <%= paginate posts %>
</ul> 

  
  
  
  
</div>
