
  


 

<% if logged_in? %>

<div class="row">
  <aside class="col-md-4">
    <div class="user-profile">
      <div class="icon text-center">
        <img src="<%= @post_image_url %>" alt="" class="new-post-image">
      </div>
      <div class="name text-center">
        
      </div>
    </div>
  </aside>
  
  <div class="rating-wrapper text-center">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-lg-6">
    	<%= form_for(@post) do |f| %>
        <div class="form-group">
          <%= f.text_area :title, class: 'form-control', :placeholder => "Enter the title"%>
        </div>      
        <div class="form-group">
          <%= f.text_area :comment, class: 'form-control',  :placeholder => "Enter the comment"%>
        </div>
        
        <div class="form-group">
          <p>笑えるアニメですか？</p>
          <%#= f.text_area :laugh, class: 'form-control',  :placeholder => "Laugh"%>
          <%= f.hidden_field :laugh, id: :laugh_rating %>
          <div id='star-rating1'></div>
          
          
        
        <div class="form-group">
          <p>感動できるアニメですか？</p>
          <%#= f.text_area :moved, class: 'form-control',  :placeholder => "Moved"%>
          <%= f.hidden_field :moved, id: :moved_rating %>
          <div id='star-rating2'></div>    
          

        </div>
        
        <div class="form-group">
          <p>興奮するアニメですか？</p>
          <%#= f.text_area :excit, class: 'form-control',  :placeholder => "Excited"%>
          <%= f.hidden_field :excit, id: :excit_rating %>
          <div id='star-rating3'></div>        
        </div>
        
        <div class="form-group">
          <p>グラフィックはどうですか？</p>
          <%#= f.text_area :graphic, class: 'form-control',  :placeholder => "Graphic"%>
          <%= f.hidden_field :graphic, id: :graphic_rating %>
          <div id='star-rating4'></div>        
        </div>
        
        <div class="form-group">
          <p>話の展開はどうですか？</p>
          <%#= f.text_area :plot, class: 'form-control',  :placeholder => "Plot"%>
          <%= f.hidden_field :plot, id: :plot_rating %>
          <div id='star-rating5'></div>        
        </div>
        
        <div class="form-group">
          <p>総合的におすすめ度は？</p>
          <%#= f.text_area :recommend, class: 'form-control',  :placeholder => "Recoomend"%>
          <%= f.hidden_field :recommend, id: :recommend_rating %>
          <div id='star-rating6'></div>        
        </div>
        
        <%= f.hidden_field(:image_url, :value => @post_image_url) %>

        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>    	
      
     
    </div>    
    
  </div>

</div>



<script>
$('#star-rating1').raty({
path: '/assets/',
click: function(score, e) {
$("#laugh_rating").val(score)
}
});
</script>
</div>


<script>
$('#star-rating2').raty({
path: '/assets/',
click: function(score, e) {
$("#moved_rating").val(score)
}
});
</script>

<script>
$('#star-rating3').raty({
path: '/assets/',
click: function(score, e) {
$("#excit_rating").val(score)
}
});
</script>

<script>
$('#star-rating4').raty({
path: '/assets/',
click: function(score, e) {
$("#graphic_rating").val(score)
}
});
</script>

<script>
$('#star-rating5').raty({
path: '/assets/',
click: function(score, e) {
$("#plot_rating").val(score)
}
});
</script>

<script>
$('#star-rating6').raty({
path: '/assets/',
click: function(score, e) {
$("#recommend_rating").val(score)
}
});
</script>



<% else %>

<% end %>

